{% extends "base.html" %}
{% load static %}
{% block meta_description %}
Creación de inventario
{% endblock meta_description %}

{% block title %}
Iniciar inventario
{% endblock title %}


{% block additional_links %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock additional_links %}

{% block main_content %}
<div id="app_product_create" style="padding: 0px 75px;"> 
    <div class="p-3 mt-4 pb-md-4 mx-auto text-center">
        <h2 class="display-5 fw-normal"> INICIAR </h2>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-md-7">
            <form action="post" id="form_inventory" @submit.prevent="startInventory">
                {% csrf_token %}
                <div class="row">
                    <div class="mb-4">
                        <label for="slc_warehouse" class="form-label"> Bodega </label>
                        <select name="warehouse" id="slc_warehouse" class="form-select">
                            {% for item in warehouses %}
                            <option value="{{ item.id }}"> {{ item.name }} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-4">
                        <label for="slc_employee" class="form-label"> Colaborador </label>
                        <select class="form-select" id="slc_employee" name="employee" required>
                            <option selected> Selecciona un colaborador </option>
                            {% for employee in employees %}
                            <option value="{{ employee.id }}"> {{ employee.first_name }} {{ employee.last_name }} </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-4">
                        <label for="slc_store" class="form-label"> Sucursal </label>
                        <select class="form-select" id="slc_store" name="store" required>
                        <option value="{{ request.user.id }}" selected> {{ request.user.username }} </option>
                        </select>
                    </div>
                    <div class="mb-4">
                        <label for="txt_inventory_date" class="form-label"> Fecha de inventario </label>
                        <input type="date" class="form-control" id="txt_inventory_date" name="inventory_date" required>
                    </div>
                </div>
                
                
                <div class="btn-list text-end mb-4">
                    <a href="/products/list/" class="btn btn-pill btn-lg btn-warning"> Cancelar </a>
                    <button type="submit" class="btn btn-pill btn-lg btn-success"> Agregar </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock main_content %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="{% static 'js/inventory_control/create.js' %}"></script>
{% endblock scripts %}